nav.navbar {
  background-color: #2d5a27 !important;
  padding-top: 0.8rem;
  padding-bottom: 0;
}

#breadcrumb{
  background-color: #2d5a27 !important;
}

#ol-breadcrumb{
  --bs-breadcrumb-divider: '>';
   font-size: 0.8rem;
    --bs-breadcrumb-divider-color: rgba(255,255,255,0.4);
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  font-weight: 500;
  padding-bottom: 0.8rem !important;
  border-bottom: 3px solid transparent;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #d1e7dd !important;
  border-bottom-color: #ffffff !important;
}

body {
  background-color: #f3f4f6 !important;
}

#marca-nombre,
.navbar-nav .nav-link {
  color: #ffffff !important;
  font-weight: 500;
}

.navbar-nav {
  align-items: center;
}

.dropdown-menu .dropdown-item {
  color: #212529;
}

#footer-home {
  background-color: #1b3022 !important;
}

#marca-nombre {
  padding-bottom: 0.8rem;
  border-bottom: none !important;
}

.mid-input {
  flex-basis: 48% !important;
}

.full-input {
  flex-basis: 98% !important;
}

.form-control:focus,
.form-select:focus {
  border-color: #2d5a27 !important;
}

img {
  object-fit: cover;
}

.mid-input {
  flex: 1 1 200px; 
  max-width: 100%;
}

#input-nombre {
  flex: 0 0 100% !important;
}

#form-entero {
  width: 85%;
}

.texto-flotante {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}